#root {
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0;
  padding: 0; 
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  display: flex; /* Adicionado para centralizar o container */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100%; /* Garante que o container ocupe toda a altura disponível */
}
